
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.caixa-principal{
    height: 100vh;
    width: 100%;
    background-color: #191919;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}
.portfolio{
    color: white;
    font-size: 40px;
}
.portfolio span{
    color: #f9004d;
}

li{
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    color:#f9004d;
    transition: 0.5s;
}

.meu-nome{
    color: white;
    position: absolute;
    top: 50%;
    left: 10%;    
    font-size: 23px;
}
.meu-nome span{
    color: #f9004d;
}

section{
    display: flex;
    align-items: center;
    padding:60px 10%;
    padding-left: 180px;
    background-color: black;
    justify-content: space-between;
}
section img{
    margin-right: 25px;
    height: 250px;
}

section div h2{
    color: white;
    font-size: 75px;
}
section div p{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}
section div p span{
    color: #f9004d;
}
section div button{
    color: white;
    background-color: #f9004d;
    height: 50px;
    width: 180px;
    font-size: 18px;
    border: none;
    border-radius: 26px;
}
section div button:hover{
    background-color: black;
    border: 2px solid #f9004d;
    transition: 0.5s;
    cursor: pointer
}

.projetos{
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;

}
.card-projeto{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.projetos h2{
    color: white;
    font-size: 75px;
    text-align: center;
}

.card{
    background-color: black;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;

}
.card img{
    height: 100px;
}
.card h5{
    color: white;
    font-size: 24px;
}
.card p{
    color: white;
    margin-top: 20px;
    margin-bottom: 55px;

}
.card a{
    background-color: #f9004d;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}
.card a:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    transition: 0.5s;
}

footer{
    background-color: black;
    padding-top: 150px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer h5{
    color: white;
    font-size: 30px;

}
footer p{
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 14px;

}

.social img{
    height: 25px;
    

}
.social{
    display: flex;
    gap: 20px;
}
.social a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.social a:hover{  
    transform: scale(1.3);
    transition: 0.5s;
}

.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    min-height: 90vh;
    padding: 100px 0;
    font-family: Jost;
    position: absolute;
    top: 7%;
    left: 0%;
  }
  
  .design {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .timeline {
    width: 1900px;
    height: auto;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .timeline-content {
    padding: 20px;
    background: #191919;
    -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
            box-shadow: 5px 5px 10px #f9004d, -5px -5px 10px #ffffff;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 24px;
  }
  .timeline-content p{
    font-size: 20px;
    text-align: justify;
  }
  .timeline-component {
    margin: 0px 20px 15px 20px;
  }
  
  @media screen and (min-width: 768px) {
    .timeline {
      display: grid;
      grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
      position: relative;
      background-image: linear-gradient(45deg, #0b0000, #f9004d, #f32105d6);
      width: 3px;
      height: 100%;
    }
    .main-middle {
      opacity: 0;
    }
    .timeline-circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }

  span{
    color: #f9004d;
  }