{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about-me</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="caixa-principal">
        <nav>
            <h2 class="portfolio">Port<span>Fólio</span></h2>
            <ul>
                <li><a href="/" target="_blank">Home</a></li>
                <li><a href="/teste"><span>Sobre</span></a></li>
                <li><a>Projetos</a></li>
                <li><a>Fale comigo</a></li>
            </ul>
            
            <style>@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');</style>
            <!--This is the main container that contains the whole timeline.-->
            <section class="design-section">
            <div class="timeline">
            
                <div class="timeline-empty">
                    </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                           </div>
                           <div class="timeline-component timeline-content">
                            <h3>Infância (2016-2019)</h3>
                            <p>Na minha Infância, a robótica sempre esteve muito presente. Brincando com kits, descobri o encanto de criar algo que responde ao que eu programo. Durante esse tempo minha paixão aumentou ainda mais e conheci o Arduino, que me apresentou a linguagem de alto-nivel C++. Aprendi a fazer pequenos circuitos como semáforo e principalmente a trabalhar em equipe.  </p>
                            </p>
                       </div>
                            <div class="timeline-component timeline-content">
                                     <h3>Adolescência (2020-2022)</h3>
                                     <p>Nessa fase da vida segui o coração e ingressei no curso Técnico em Mecatrônica. Além de fazer novas amizades, estar em cidade diferente tive contato com outras formas de programar. Como a Ladder usada em CLP's, fazendo com que a minha lógica de programação se aperfeiçoasse ainda mais. Tive contato com microcontroladores, como o PIC18F, usando a linguagem C. No final do curso fizemos um projeto de TCC e automatizamos um processo de embalagem de balas, com arduino e o poder da programação.</p>
                            </div>
                            <div class="timeline-middle">
                                <div class="timeline-circle"></div>
                            </div>
                            <div class="timeline-empty">
                            </div>
            
                            <div class="timeline-empty">
                            </div>
            
                           <div class="timeline-middle">
                               <div class="timeline-circle"></div>
                           </div>
                           <div class=" timeline-component timeline-content">
                            <h3>Agora . . .</h3>
                            <p>Agora estou cursando Engenharia de Software pela UniFran. Desenvolvendo projetos que me agregam conhecimentos e me faça ser um profissional de ponta. Escolhi o Back-end com foco em Python, Banco de dados e Desenvolvimento Web. Todos os dias dedico horas em estudo e em desenvolvimento para que esse não seja o último item da minha carreira. </p>
                       </div>
            
                   </div>
                </div> 
            </section>

        <div class="about-footer">
            <footer>
                <h5>Pedro Henrique Ambrosio</h5>
                <p>Para mais informações</p>
                
                <div class="social">
                    <a href="https://instagram.com/pedrohambrosioo" target="_blank"><img src="{% static '/assets/img/insta.png' %}" alt=""></a>
                    <a href="https://github.com/pedrohambrosioo" target="_blank"><img src="{% static '/assets/img/git.png' %}" alt=""></a>
                    <a href="https://www.linkedin.com/in/pedro-ambrosio-659203271/" target="_blank"><img src="{% static '/assets/img/linkedin.png' %}" alt=""></a>
                    <a href="https://wa.me/5519998887950" target="_blank"><img src="{% static '/assets/img/telefone.png' %}" alt=""></a>
                </div>
            </footer>
        </div>

</body>
</html>